* {
  margin: 0;
  padding: 0;
}
.question {
  background-color: rgb(209, 205, 205);
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
.ullist {
  background-color: bisque;
  list-style: none;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.activelist {
  background-color: blue;
  list-style: none;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.disableButton {
  height: 50px;
  width: 200px;
  background-color: rgb(227, 248, 200);
  border-radius: 15px;
  font-size: 25px;
  color: rgb(18, 16, 16);
}
.activeButton {
  height: 50px;
  width: 200px;
  background-color: green;
  border-radius: 15px;
  font-size: 25px;
  color: black;
}
.score {
  background-color: rgb(63, 151, 63);
  font-size: 50px;
  text-align: center;
  margin: 100px;
  color: rgb(237, 128, 128);
}
