* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #548687;
  text-align: center;
}
.heading {
  margin-top: 10px;
}
.game-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5vmin;
}
.box {
  border: 1px solid black;
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}
.reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  width: 7rem;
  border-radius: 1rem;
  border: none;
  background-color: #191913;
  color: #fff;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;

  border-radius: 1rem;
  border: none;
  background-color: #191913;
  color: #fff;
}
#msg {
  color: #ffffc7;
  font-size: 8vmin;
  margin: 10px;
}
.msg-container {
  margin: 20px;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide {
  display: none;
}
.x {
  color: green;
}
